
#**/.git/

CICLO-1/MODULO-2-GIT-GITHUB/AULA-01-GIT-BASICO/ATIVIDADE/
CICLO-1/MODULO-2-GIT-GITHUB/AULA-02-GIT-VSCode-GitLens/ATIVIDADE/
CICLO-1/MODULO-2-GIT-GITHUB/AULA-03-GIT-BRANCH-MERGE/ATIVIDADE/
CICLO-1/MODULO-2-GIT-GITHUB/AULA-04-GIT-REPOSITORIO-REMOTO/ATIVIDADE/
CICLO-1/MODULO-2-GIT-GITHUB/AULA-05-GIT-PULL-RESQUEST/ATIVIDADE/
CICLO-1/MODULO-2-GIT-GITHUB/AULA-03-GIT-BRANCH-MERGE/TESTES
**/*.zip
CICLO-1/MODULO-4-PYTHON-ORIENTADO-OBJETOS/PROJETO/


# CICLO-1/MODULO-7-MODELAGEM-DE-DADOS/AULA-01-INTRODUCAO/ATIVIDADE
CICLO-1/MODULO-7-MODELAGEM-DE-DADOS/AULA-02-EVOLUCAO
CICLO-1/MODULO-7-MODELAGEM-DE-DADOS/AULA-03-CONCEITOS-MODELAGEM-DADOS
CICLO-1/MODULO-7-MODELAGEM-DE-DADOS/AULA-04-NORMALIZACAO